<footer class="page-footer grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col s6 m3 l3">
                <a href="#">
                    <img src="/images/img_facebook.png"> <span>Siga-nos no Facebook</span>
                </a>
            </div>
            <div class="col s6 m3 l3">
                <a href="#">
                    <img src="/images/img_instagram.png"> <span>Siga-nos no Instagram</span>
                </a>
            </div>
            <div class="col s6 m3 l3">
                <a href="#">
                    <img src="/images/img_snapchat.png"> <span>Siga-nos no Snapchat</span>
                </a>
            </div>
            <div class="col s6 m3 l3">
                <a href="#">
                    <img src="/images/img_twitter.png"> <span>Siga-nos no Twitter</span>
                </a>
            </div>
        </div>    <!-- fim row -->

        <div class="footer-copyright">
            <div class="container">
                <strong class="black-text left footerAutoria">By: Caio Morceli</strong>
                <strong class="black-text right footerAutoria">© 2017 Copyright</strong>
            </div>
        </div>
    </div>      <!-- fim container -->
</footer>    <!-- fim footer -->
