<header>
    <nav class="grey lighten-1">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="javascript: void(0)">
                        <li>
                            <a href="#" data-activates="menu-mobile" id="button-collapse" class="button-collapse">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </a>
                </li>
                <li id="linkHome"> <a href="/" class="header grey black-text">Home</a> </li>
                <li> <a href="/plans" class="header marginLinksHeader grey black-text">/plans</a> </li>
                <li> <a href="/prepayment" class="header marginLinksHeader grey black-text">/prepayment</a> </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="javascript: void(0)">
                        <i class="material-icons left">mail</i>
                        <span class="new badge amber">4</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0)" id="btn-dropdown-perfil" data-activates='dropdown-perfil'>
                        <img src="/images/img_perfil.png" class="circle left black imgMiniPerfil">
                        <span class="black-text">Olá Caio L. Morceli</span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id='dropdown-perfil' class='dropdown-content'>
                        <li class="divider">divIder</li>
                        <li><a href="#!">Perfil<i class="material-icons">person_pin</i></a></li>
                        <li><a href="#!">Configurações<i class="material-icons">view_module</i></a></li>
                        <li><a href="#!">Logout<i class="material-icons">close</i></a></li>
                    </ul>
                    <ul id='dropdown-perfilMobile' class='dropdown-content'>
                        <li class="divider">divIder</li>
                        <li><a href="#!"><span class="textoPerfilMobile">Perfil</span><i class="material-icons">person_pin</i></a></li>
                        <li><a href="#!"><span class="textoPerfilMobile">Configurações</span><i class="material-icons">view_module</i></a></li>
                        <li><a href="#!"><span class="textoPerfilMobile">Logout</span><i class="material-icons">close</i></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="side-nav" id="menu-mobile">
               <li>
                   <a href="#" id="btn-dropdown-perfilMobile" data-activates='dropdown-perfilMobile'>
                       <img src="/images/img_perfil.png" class="circle left black imgMiniPerfil">
                       <span class="black-text">Olá Caio L. Morceli</span>
                       <i class="material-icons right" style="color: black !important;">arrow_drop_down</i>
                   </a>
               </li>
               <li>
                   <a href="#">
                       <i class="material-icons left">mail</i>
                       <span class="new badge amber">4</span>
                   </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
