<!DOCTYPE html>
<html>
    <head>
        <title><%= titulo %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <fieldset>
            <legend>Casa e Cafe</legend>
            <h1>HomePage simples</h1><br><br>

            <form action="/plans" method="GET">
                <h3>Rota /plans. Vai ao banco e retorna os produtos.</h3>
                <input type="submit" value="Carregar produtos" /><br><br>  <!-- Vai bater na rota plans-->
            </form>

            <form action="/prepayment" method="GET">
                <h3>Rota /prepayment. Cria-se a tela de pagamento e leva até a rota /payment.</h3>
                <input type="submit" value="Criar Pagamento" /><br><br>  <!-- Vai bater na rota plans-->                  
            </form>
        </fieldset>
    </body>
</html>
